name: CI/CD FOR PROD

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Generate secret keys
        run: |
          cd src/main/resources && openssl genrsa -out rsaPrivateKey.pem 2048 && openssl rsa -pubout -in rsaPrivateKey.pem -out publicKey.pem && openssl pkcs8 -topk8 -nocrypt -inform pem -in rsaPrivateKey.pem -outform pem -out privateKey.pem && cd ../../..
      - name: Build
        run: mvn -B package --file pom.xml
      - name: Create build path prod
        run: mkdir prod && cp target/*.jar prod
      - name: Upload math result for job
        uses: actions/upload-artifact@v1
        with:
          name: petinder-auth
          path: prod
      - name: Login to Heroku Container registry
        env: 
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku container:login
      - name: Build and push
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
          HEROKU_APP_NAME: api-auth-petinder
        run: heroku buildpacks:clear --app api-auth-petinder && heroku plugins:install java && heroku create --no-remote && heroku deploy:jar prod/petinder-auth-1.0.0-SNAPSHOT.jar --app api-auth-petinder
